import os

def install_libraries():
    libraries = [
        'torch',
        'torchvision',
        'numpy',
        'pandas',
        'Pillow',
        'requests',
        'scikit-learn',
        'matplotlib',
        'lambeq'
    ]
    
    for lib in libraries:
        os.system(f"pip install {lib}")

if __name__ == "__main__":
    install_libraries()
